body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}
*,
*:before
*:after{
	box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

	.container {
		width: 100%;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;

	}

	.intro {
		width: 100%;
		height: 100vh;
		background: url(12.jpg) center no-repeat;
		padding-bottom: 0;
		-webkit-background-size: cover;
		background-size: cover;
	}


	.intro__inner{
		width: 100%;
		max-width: 880px;
		margin: 0 auto;
	}
	
	.intro__tittle{
		color: #fff;
		font-size: 100px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 1;
		transform:translate(0px, 350px);

	}

	.intro__tittle:after {
		content: "";
		display: block;
		width: 60px;
		height: 3px;

		background-color: #fff;
		transform:translate(370px, 150px);
	}

	.intro__suptitel{
		color: #fff;
		font-size: 72px;
		font-family: 'Kaushan Script', cursive;
		transform:translate(80px, 350px);
	}


	.header{
		width:100%;
		padding-top: 30px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;

	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}




    .header__logo {
    	font-size: 30px;
    	font-weight: 700;
    	color: #fff;
    }

    .nav {
    	font-size: 14px
    	text-transform: uppercase;
    }

    .nav__link{
    	display: inline-block;
    	vertical-align: top;
    	margin: 0 10px;
    	position: relative;
    	text-transform: uppercase;
    	color: #fff;
	    text-decoration: none;
	    font-family:  'Montserrat', sans-serif;

	    transition: color .1s linear;
    }

    .nav__link:after {
    	content: "";
    	display: block;
    	width: 100%;
    	height: 3px;
    	background-color: #f59607;
    	opacity: 0;
    	position: absolute;
    	top: 100%;
    	left: 0;
    	z-index: 1;
    	transition: opacity: .1s linear;

    }

    .nav__link:hover {
    	color: #f59607;
    }

    .nav__link:hover:after {
    	opacity: 1;
    }

    .btn {
    	display: inline-block;
    	vertical-align: top;
    	border: 3px solid #fff;
    	padding: 10px 15px;
    	color: #fff;
    	text-transform: uppercase;
    	font-size: 14px;
    	font-weight: 700;
    	text-decoration: none;
    	transform: translate(330px, 420px);

    }


    .pictures__iphone{
    	
    }